.container img {
  width: 100%;
  height: auto;

}
.card img {
  width: 150px;
  height: 100px;
}
/* File: style.css */
body {

  font-family: Arial, sans-serif;
}

.nav-item:hover {

  transition: margin-right 0.3s ease;
  color: #007bff;
  text-decoration: underline;
  margin-right: 10px;
}
.nav-link {
      color: black !important; /* default text color */
      transition: color 0.3s;
    }

    .nav-link:hover {
      color: red !important; /* hover text color */
    }
   